@using Eliterate.WebAssembly.Components.Generic.Inputs
@using Codespirals.Base.Extensions;
@using QRCoder
@inject IJSRuntime JS

@page "/tools/qr"

<PageTitle>Eliterate - Tools - QR</PageTitle>

<div class="fill qr-generator">
    <div>
        <div class="loose-paper" style="rotate:-1deg;"></div>
        <div class="loose-paper" style="rotate:2deg;"></div>
        <div class="loose-paper" style="rotate:-2deg;"></div>
        <div class="url-type-tags">
            @foreach (var item in _qrTypes.Reverse())
            {
                <div class="@(_selectedQRType == item.Key ? "active" : "")" @onclick="(x => SetQrType(item.Key))" style="@($"background-color:hsl({item.Value.GetIntFromString(360)}, 100%, 80%);rotate:{Random.Shared.Next(-4, 4)}deg;")">@item.Value</div>
            }
        </div>
        <Paper>
            <h2>QR Code Generation Form - @_qrTypes.First(x => x.Key == _selectedQRType).Value</h2>
            <label>Please fill out the form:</label>
            <hr />
            <div class="qr-data-form">
                @switch (_selectedQRType)
                {
                    case QRType.url:
                        <p>The most common type of QR codes: A simple representation of an internet URL (a link).</p>
                        <p>Basically all QR readers are programmed to read these and open a tab in your default browser bringing you directly to the website in the code.</p>
                        <InputWithLabel Label="Url to encode"
                                        Description="The url (address) of the specific web resource you want the QR code to lead to."
                                        ShowDescription="true"
                                        Warning="While QR code links are quick and convenient, they are also an easy way to have you open a malicious link.
                            Most QR code readers display the URL before they open your browser.
                            Just like a link you'd recieve in an email, always check the URL and make sure it leads you to a site you feel you can trust.">
                            <InputText @bind-Value="_url"></InputText>
                        </InputWithLabel>
                        break;
                    case QRType.wifi:
                        <p>WI-FI access, at the click of a button!</p>
                        <p>Well... scan of a code.</p>
                        <p>Either way, this type of QR code is simply an encoding of WI-FI access data into QR form.</p>
                        <InputWithLabel Label="Network name"
                                        Description="The network name - sometimes written as SSID (Service Set Identifier)."
                                        ShowDescription="true">
                            <InputText @bind-Value="_ssid"></InputText>
                        </InputWithLabel>
                        <InputWithLabel Label="Password"
                                        Description="The password that grants access to the WI-FI point."
                                        ShowDescription="true"
                                        ShowWarning="true"
                                        Warning="This password is visible in plain text to anyone who reads the QR code! Only generate QR codes where you're allowed to share this password,
                                            and only display the code in places where only people you want to have access can see it.">
                            <input type="password" @bind-value="_password"/>
                        </InputWithLabel>
                        break;
                    case QRType.text:
                    default:
                        <p>A QR code can just contain simple text!</p>
                        <p>Ever wanted to tell a friend they're a dick but also make them go through the extra step of having to scan something to find out?</p>
                        <p>Well you're in luck!</p>
                        <InputWithLabel Label="Text"
                                        Description="This text should be less than 2953 bytes. That's the max a QR code can handle. 
                                            Depending on what character set you use that's anywhere between 1800 (Kanji) to 7000 characters (just numbers).
                                            Try to keep it below 1800 characters and you'll be fine.">
                            <InputTextArea @bind-Value="_text"></InputTextArea>
                        </InputWithLabel>
                        break;
                }
                <hr />
                @* <InputWithLabel Label="Save file type"
                                 Description="The safe file type. A png is a simple image. It's simple to use, but it can get blurry when you resize it.
                                    An svg is a mathematically constructed image. You might not be able to use it everywhere, but you can resize it without worry anywhere you use it.">
                    <select @bind="_selectedSaveFileType">
                        @foreach (var item in _safeFileTypes)
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    </select>
                </InputWithLabel> *@
                <InputWithLabel Label="ECC"
                                 Description="The Error Correction Code (ECC) of a QR code describes how much of a QR code is redundant data.
                                    That means, with a higher ECC level, there is intentional duplication of data in a QR code.
                                    Thanks to this error correction data, a high ECC QR code can be partially obscured and still be read by a QR reader.
                                    When you see QR codes that have a company logo in the middle, for example, that is 'obscuring' part of the QR code, thus requiring a higher ECC level."
                                 Warning="The secondary effect of a high ECC QR code is, that because encodes more information, they look 'noisier' - more, smaller little black squares than on a QR code with less encoded information or a lower ECC.">
                    <select @bind="_selectedECC">
                        @foreach (var item in _errorCorrectionLevels)
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    </select>
                </InputWithLabel>
            </div>
            <div class="qr-generator-controls">
                <button @onclick="GenerateCode">Generate QR Code</button>
            </div>
        </Paper>
    </div>
    <div class="qr-output">
        <div>
            <PolaroidCamera X="200" RotateX="20" RotateY="-8" RotateZ="175" PngData="@_generatedQRCodePng" ImageLink="@_generatedQRCodeSvg">
            </PolaroidCamera>
        </div>
        @if (_generatedQRCodePng is not null || _generatedQRCodeSvg is not null)
        {
            <div>
                <FlashCard Rotation="3">
                    <div class="card-header">
                        <div class="grid-container-dash-dot">
                            <h2 class="card-title">Save this QR code?</h2>
                        </div>
                        <Sticker Text="💾" Top="1.25m" Right="0.5m" Rotate="3" Scale="1.5m"></Sticker>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <p>This site does not save any data.</p>
                            <p>Refresh and it's all gone.</p>
                            <p>If you want to keep this QR code you have to download it.</p>
                            <InputWithLabel Label="File Name">
                                <InputText @bind-Value="_fileName"></InputText>
                            </InputWithLabel>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button  style="float:right;margin:0 0.5rem 0.5rem 0;" @onclick="DownloadQrCode">Download</button>
                    </div>
                </FlashCard>
            </div>
        }
    </div>
</div>

<script>
    window.downloadFileFromStream = async (fileName, contentStreamReference) => {
      const arrayBuffer = await contentStreamReference.arrayBuffer();
      const blob = new Blob([arrayBuffer]);
      const url = URL.createObjectURL(blob);
      const anchorElement = document.createElement('a');
      anchorElement.href = url;
      anchorElement.download = fileName ?? '';
      anchorElement.click();
      anchorElement.remove();
      URL.revokeObjectURL(url);
    }
</script>

@code {
    // resources
    private QRCodeGenerator _qrCodeGenerator = new QRCodeGenerator();

    private QRCodeGenerator.ECCLevel _selectedECC = QRCodeGenerator.ECCLevel.L;
    private Dictionary<QRCodeGenerator.ECCLevel, string> _errorCorrectionLevels =
            new Dictionary<QRCodeGenerator.ECCLevel, string>
            {
                {QRCodeGenerator.ECCLevel.L, "Low (7%)"},
                {QRCodeGenerator.ECCLevel.M, "Medium (15%)"},
                {QRCodeGenerator.ECCLevel.Q, "Quartile (25%)"},
                {QRCodeGenerator.ECCLevel.H, "High (30%)"}
            };

    private SafeFileType _selectedSaveFileType = SafeFileType.png;
    private Dictionary<SafeFileType, string> _safeFileTypes =
            new Dictionary<SafeFileType, string>
            {
                {SafeFileType.png, ".png"},
                {SafeFileType.svg, ".svg"}
            };

    private QRType _selectedQRType = QRType.url;
    private Dictionary<QRType, string> _qrTypes =
            new Dictionary<QRType, string>
            {
                {QRType.url, "Url"},
                {QRType.text, "Text"},
                {QRType.wifi, "WIFI"}
            };

    private PayloadGenerator.WiFi.Authentication _selectedWifiAuthentication = PayloadGenerator.WiFi.Authentication.WPA2;
    private Dictionary<PayloadGenerator.WiFi.Authentication, string> _wifiAuthenticationTypes =
            new Dictionary<PayloadGenerator.WiFi.Authentication, string>
            {
                {PayloadGenerator.WiFi.Authentication.nopass, "No Password"},
                {PayloadGenerator.WiFi.Authentication.WEP, "WEP"},
                {PayloadGenerator.WiFi.Authentication.WPA, "WPA"},
                {PayloadGenerator.WiFi.Authentication.WPA2, "WPA2"}
            };

    // options QR 
    private string _text = "";

    private string _url = "";

    private string _ssid = "";
    private string _password = "";

    private string _firstName = "";
    private string _nickName= "";
    private string _lastName = "";
    private string _email = "";
    private string _website = "";

    private string _fileName = "";

    // results
    private byte[]? _generatedQRCodePng;
    private string? _generatedQRCodeSvg;

    [SupplyParameterFromQuery]
    [Parameter]
    public string? Url { get; set; }

    protected override void OnParametersSet() => _url = Url ?? "";

    private enum QRType
    {
        url,
        text,
        wifi,
        contact
    }
    private enum SafeFileType
    {
        png,
        svg
    }

    // functions
    private void SetQrType(QRType type)
        => _selectedQRType = type;

    private void GenerateCode()
    {
        _generatedQRCodePng = null;
        _generatedQRCodeSvg = null;
        PayloadGenerator.Payload? payload = GeneratePayload();

        QRCodeData data = payload is null 
            ? _qrCodeGenerator.CreateQrCode(_text, _selectedECC, forceUtf8:true) 
            : _qrCodeGenerator.CreateQrCode(payload);

        switch (_selectedSaveFileType)
        {
            case SafeFileType.png:
                var pngQr = new PngByteQRCode(data);
                _generatedQRCodePng = pngQr.GetGraphic(pixelsPerModule: 10);
                break;
            case SafeFileType.svg:
                var svgQr = new SvgQRCode(data);
                _generatedQRCodeSvg = svgQr.GetGraphic(pixelsPerModule: 10);
                break;
            default:
                break;
        }
    }

    private PayloadGenerator.Payload? GeneratePayload()
        => _selectedQRType switch
        {
            QRType.url => new PayloadGenerator.Url(_url),
            QRType.wifi => new PayloadGenerator.WiFi(_ssid, _password, _selectedWifiAuthentication),
            QRType.contact => new PayloadGenerator.ContactData(PayloadGenerator.ContactData.ContactOutputType.VCard4, _firstName, _lastName, _nickName, email:_email, website:_website),
            _ => null
        };


    private async void DownloadQrCode()
    {
        if (_generatedQRCodePng is null)
            return;
        var fileStream = new MemoryStream(_generatedQRCodePng);

        var fileName = string.IsNullOrWhiteSpace(_fileName) ? $"qr_{DateTime.Now.ToString("yyMMdd_HHmmss")}.png" : $"{_fileName.Replace('.', '_')}.png";

        using var streamRef = new DotNetStreamReference(stream: fileStream);

        await JS.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);
    }
}
