@using QRCoder

@page "/tools/qr"
@page "/tools/qr/{urlToEncode?}"

<PageTitle>Eliterate - Tools - QR</PageTitle>

<div>
    <InputSelect @bind-Value="_selectedQRType">
        @foreach (var item in Enum.GetValues(typeof(QRType)).Cast<QRType>())
        {
            <option value="@item">@item</option>
        }
    </InputSelect>
</div>

<div class="fill center-content">
    <div class="qr-data-form">
        @switch (_selectedQRType)
        {
            case QRType.Url:
                <label>Url to encode:</label><InputText @bind-Value="_input"></InputText>
                <p role="note">
                    The most common type of QR codes: A simple representation of an internet URL (a link).
                    Basically all QR readers are programmed to read these and open a tab in your default browser bringing you directly to the website in the code.
                </p>
                <p role="alert">
                    While QR codes are quick and convenient, they are also an easy way to have you open a malicious link. 
                    Most QR code readers display the URL before they open your browser.
                    Just like a link you'd recieve in an email, always check the URL and make sure it leads you to a site you feel you can trust.
                </p>
                break;
            default:
                break;
        }
        <label>Save </label>
        <InputSelect @bind-Value="_selectedSaveFileType">
            @foreach (var item in Enum.GetValues(typeof(SaveFileType)).Cast<SaveFileType>())
            {
                <option value="@item">@item</option>
            }
        </InputSelect>
        <InputSelect @bind-Value="_errorCorrectionLevel">
            @foreach (var item in Enum.GetValues(typeof(QRCodeGenerator.ECCLevel)).Cast<QRCodeGenerator.ECCLevel>())
            {
                <option value="@item">@item</option>
            }
        </InputSelect>
        <p role="note">
            The Error Correction Code (ECC) of a QR code describes how much of a QR code is redundant data.
            That means, with a higher ECC level, there is intentional duplication of data in a QR code.
            Thanks to this error correction data, a high ECC QR code can be partially obscured and still be read by a QR reader.
            When you see QR codes that have a company logo in the middle, for example, that is "obscuring" part of the QR code, thus requiring a higher ECC level.

            The secondary effect of this is, that because a high ECC QR code encodes more information, they look "noisier" - more, smaller little black squares than on a QR code with less encoded information or a lower ECC.
        </p>
    </div>
</div>

@code {
    private string _input = "";
    private QRType _selectedQRType = QRType.Url;
    private SaveFileType _selectedSaveFileType = SaveFileType.png;
    private QRCodeGenerator.ECCLevel _errorCorrectionLevel = QRCodeGenerator.ECCLevel.Default;
    private byte[]? _generatedQRCodeImage;
    private string? _generatedQRCodeSvg;

    [Parameter]
    public string? UrlToEncode { get; set; }
    protected override void OnParametersSet() => _input = UrlToEncode ?? "";

    private enum QRType
    {
        Url
    }
    private enum SaveFileType
    {
        png,
        svg
    }

    private void GenerateCode()
    {
        var generator = new QRCodeGenerator();
        var payload = Console.ReadLine() ?? throw new Exception("No url set.");
        QRCodeData data = generator.CreateQrCode(payload, QRCodeGenerator.ECCLevel.H, forceUtf8: true);
    }

    private void SaveAsPng(string saveFilePath, string name, QRCodeData data)
    {
        // PNG bytes (no System.Drawing required)
        var pngQr = new PngByteQRCode(data);
        _generatedQRCodeImage = pngQr.GetGraphic(pixelsPerModule: 10); // scale

    }

    private void SaveAsSvg(string saveFilePath, string name, QRCodeData data)
    {
        var svgQr = new SvgQRCode(data);
        _generatedQRCodeSvg = svgQr.GetGraphic(pixelsPerModule: 10);
    }
}
