@inject NavigationManager NavigationManager

@if (Model is null)
{
    
}
else
{
    <div class="post-grid-cell">
        <div class="post-wrapper">
            <div class="card" style="@_rotate">
                <div class="card-header">
                    <div class="grid-container-dash-dot">
                        <h2 class="card-title"><a @onclick="GoToPost" tabindex="0" role="heading">@Model.Title</a></h2>
                        <Date Model="Model" Replace="true"></Date>
                    </div>
                    <Sticker Emoji="@Model.StickerEmoji" Top="1.25m" Right="0.5m" Rotate="@_rotation" Scale="1.5m"></Sticker>
                </div>
                <div class="card-body">
                    <div class="card-text" tabindex="0" role="document">
                        @((MarkupString)(Model.Description ?? "Description missing..."))
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-tags">
                        @foreach (var tag in Model.Tags)
                        {
                            if (string.IsNullOrWhiteSpace(tag))
                                continue;
                            <Tag Name="@tag" Classes="card-tag" Rotate="@(tag.GetRandomValueFromString(4))"></Tag>
                        }
                    </div>
                    <ReadTime EstimatedReadTimeInMinutes="@Model.EstimatedReadTimeInMinutes"></ReadTime>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public PostMetadata? Model { get; set; }
    private decimal _rotation => Model?.Title.GetRandomValueFromString(20) ?? 0;
    private string _rotate => $"rotate:{_rotation / 10}deg;";

    void GoToPost()
    {
        NavigationManager.NavigateTo($"posts/{Model?.Id}");
    }
}
