@inject NavigationManager NavigationManager

@if (Model is null)
{
    
}
else
{
    <div class="card" style="rotate:@(rotate/10m)deg;z-index:@ZIndex;">
        <div class="card-header">
            <div class="grid-container-dash-dot">
                <h2 class="card-title"><a @onclick="GoToPost" tabindex="2">@Model.Title</a></h2>
                <Date Model="Model" Replace="true"></Date>
            </div>
            <Sticker Emoji="@emoji" Top="3" Right="1.5m" Rotate="@(rotate)" Scale="2"></Sticker>
        </div>
        <div class="card-body">
            <div class="card-text" tabindex="2">
                @Model.Description
            </div>
        </div>
        <div class="card-footer">
            <div class="card-tags">
                @foreach (var tag in Model.Tags)
                {
                    if (string.IsNullOrWhiteSpace(tag))
                        continue;
                    <Tag Name="@tag" Classes="card-tag" Rotate="@(tag.GetRotationFromString(4))"></Tag>
                }
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public PostMetadata? Model { get; set; }
    [Parameter]
    public int ZIndex { get; set; }
    private decimal rotate => Model?.GetRotationFromTitle(20) ?? 0;
    private string emoji => RandomStringHelper.GetRandomEmojiBasedOnString(Model?.Title);

    void GoToPost()
    {
        NavigationManager.NavigateTo($"posts/{Model?.Id}");
    }
}
