@inject NavigationManager NavigationManager

<div class="card post">
    <div class="card-header">
        <div class="grid-container-dash-dot">
            <a @onclick="GoToPost"><h2>@Model.Title</h2></a>
            <div><span class="float-end">@Model.PostNumber</span></div>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">
            @Model.Description
        </p>
    </div>
    <div class="card-footer">
        <div class="grid-container-dash-dot">
            <div>
                @foreach (var tag in Model.Tags)
                {
                    if (string.IsNullOrWhiteSpace(tag))
                        continue;
                    <div class="d-inline-block rounded-pill">@tag</div>
                }
            </div>
            <div><small class="date">@Model.Posted.ToString("yyyy/MM/dd")</small></div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public PostMetadata Model { get; set; } = new();

    void GoToPost()
    {
        NavigationManager.NavigateTo($"posts/{Model.Id}");
    }
}
