@if (Model is not null)
{
    <div class="post-grid-cell">
        <div class="post-wrapper">
            <div class="paper-container">
                <div class="paper @(_hasTearoff ? "has-tearoffs" : "")" style="@_rotate">
                    <div class="pins">
                        <Pin Left="true" Top="true"></Pin>
                        <Pin Right="true" Top="true"></Pin>
                    </div>
                    <div class="paper-spacer@(_hasTearoff ? "-with-tearoffs" : "")"></div>
                    <div class="paper-content">
                        <div class="paper-text">
                            <h2>@Model.Title</h2>
                            @((MarkupString)(Model.Description ?? "Description missing..."))
                        </div>
                    </div>
                    @if (_hasTearoff)
                    {
                        <div class="tearoff-container">
                            @for (int i = 0; i < 6; i++)
                            {
                                if (i == _skip || i == _skip2)
                                {
                                    <div class="tearoff tearoff-empty">

                                    </div>
                                }
                                else
                                {
                                    <a class="tearoff" href="@Model.Link">
                                        <div class="tearoff-text">
                                            @Model.LinkText
                                        </div>
                                    </a>
                                }
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public FutureIdea? Model { get; set; }
    private decimal _rand => Model?.Title.GetRandomValueFromString(20) ?? 0;
    private string _rotate => $"rotate:{_rand / 5}deg;";
    private int _skip = Random.Shared.Next(6);
    private int _skip2 = Random.Shared.Next(6);
    private bool _hasTearoff => Model?.Link is not null;
}
