@inject HttpClient Http

@if (Model is null)
{
    <PageNotFound></PageNotFound>
}
else
{
    <div class="book">
        <div class="book-tags">
            @foreach (var tag in Model.Metadata.Tags)
            {
                if (string.IsNullOrWhiteSpace(tag))
                    continue;
                <Tag Name="@tag" Classes="book-tag"></Tag>
            }
        </div>
        <div class="book-cover">
            <div class="book-page">
                <div class="book-page-header">
                    <div class="grid-container-dash-dot">
                        <h2 class="book-page-title" tabindex="0" role="heading">@Model.Metadata.Title</h2>
                        <Date Model="Model.Metadata"></Date>
                    </div>
                </div>
                <Sticker Emoji="@Model.Metadata.StickerEmoji" Top="2" Right="7" Rotate="@(Model?.Metadata.GetRotationFromTitle(20) ?? 0)"></Sticker>
                <div class="book-page-body">
                    <article class="book-page-text" tabindex="0">
                        @((MarkupString)(Model?.Text ?? "Text not found."))
                    </article>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public BlogPost? Model { get; set; }
    public DateTime Date => Model?.Metadata.Edited ?? Model?.Metadata.Created ?? DateTime.UtcNow;
}
