@inject HttpClient Http

@if (Model is null)
{
    <PageNotFound></PageNotFound>
}
else
{
    <div class="book">
        <div class="book-tags">
            @foreach (var tag in Model.Metadata.Tags)
            {
                if (string.IsNullOrWhiteSpace(tag))
                    continue;
                <Tag Name="@tag" Classes="book-tag" TabIndex="3"></Tag>
            }
        </div>
        <div class="book-cover">
            <div class="book-page">
                <div class="book-page-header">
                    <div class="grid-container-dash-dot">
                        <h2 class="book-page-title" tabindex="2">@Model.Metadata.Title</h2>
                        <Date Model="Model.Metadata"></Date>
                    </div>
                    <Sticker Emoji="@emoji" Top="4" Right="7" Rotate="@(Model?.Metadata.GetRotationFromTitle(20) ?? 0)"></Sticker>
                </div>
                <div class="book-page-body">
                    <div class="book-page-text" tabindex="2">
                        @((MarkupString)(Model?.Text ?? "Text not found."))
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public BlogPost? Model { get; set; }
    public DateTime Date => Model?.Metadata.Edited ?? Model?.Metadata.Created ?? DateTime.UtcNow;

    private string emoji => EmojiStickerHelper.GetRandomEmojiBasedOnString(Model?.Metadata.Title);
}
