@inject NavigationManager NavigationManager

<div class="card post">
    <div class="card-header">
        <div class="grid-container">
            <a @onclick="GoToPost"><h1>@Metadata.Title</h1></a>
            <div><span class="float-end">@Metadata.PostNumber</span></div>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">
            @Metadata.Description
        </p>
    </div>
    <div class="card-footer">
        <div class="grid-container">
            <div>
                @foreach (var tag in Metadata.Tags)
                {
                    if (string.IsNullOrWhiteSpace(tag))
                    {
                        continue;
                    }
                    <div class="d-inline-block rounded-pill">@tag</div>
                }
            </div>
            <div><small class="">@Metadata.Posted.ToString("dd/MM/yy")</small></div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public PostMetadata Metadata { get; set; } = new();

    void GoToPost()
    {
        NavigationManager.NavigateTo($"posts/{Metadata.Id}");
    }
}
