@using Codespirals.Base.Extensions
@using Eliterate.WebAssembly.Components.Generic.Shapes

<a class="toy-container center-content" style="@_size @_color" href="@Link">
    <Cuboid ExtraClasses="@($"toy-box {Name.ToLowerInvariant().MakeUrlSafe('-')}-toy")" X="200 * Scale" Y="282 * Scale" Z="60 * Scale" RotateX="20" RotateY="-5" RotateZ="90" SideLabel="@Name" Color="@_colorWithHashtag">
        @ChildContent
    </Cuboid>
</a>

@code {
    private string _size => $"height:{250 * Scale}px;";
    private string _colorWithHashtag => Color.StartsWith('#') ? Color : $"#{Color}";
    private string _color => $"--color:{_colorWithHashtag};";
    [Parameter]
    public string Name { get; set; } = "";
    [Parameter]
    public string Link { get; set; } = "";
    [Parameter]
    public double Scale { get; set; } = 1;
    [Parameter]
    public string Color { get; set; } = "#ddd";
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
