@using Codespirals.CardGames.Poker.BlackJack
@using Eliterate.WebAssembly.Components.Toys

@page "/toys/blackjack"

<PageTitle>Eliterate - Blackjack</PageTitle>

<h2 class="toy-page-title"><span class="sticker">Play Blackjack</span></h2>

<div class="blackjack-game">
    <div class="blackjack-container">
        <div class="dealer-container">
            <ul>
                <li>@_game.Dealer.Name</li>
            </ul>
            <Hand>
                <PokerCard Model="_game.Dealer.Hand.First()" Scale="8">
                </PokerCard>
                @if (_game.RoundActive)
                {
                    @foreach (var card in _game.Dealer.Hand.Skip(1))
                    {
                        <PokerCard Model="null" Scale="8">

                        </PokerCard>
                    }
                }
                else
                {
                    @foreach (var card in _game.Dealer.Hand.Skip(1))
                    {
                        <PokerCard Model="card" Scale="8">
                        </PokerCard>
                    }
                }
            </Hand>
        </div>
        <div class="player-container">
            <h4 class="prompt">@_game.Prompt</h4>
            <Hand>
                @foreach (var card in _currentPlayerNotDealer.Hand)
                {
                    <PokerCard Model="card" Scale="8"></PokerCard>
                }
            </Hand>
            <ul>
                <li>Current Player: @_currentPlayerNotDealer.Name</li>
                <li>Value of Cards: @_game.CalculateHandValue(_currentPlayerNotDealer)</li>
                <li>Cash: @_currentPlayerNotDealer.TotalPoints</li>
            </ul>
        </div>
        <div class="game-controls">
            <button @onclick="Stand" disabled="@(!_game.RoundActive || _game.GameOver)">Stand</button>
            <button @onclick="Hit" disabled="@(!_game.RoundActive || _game.GameOver)">Hit Me</button>

            <button class="right" @onclick="StartNextRound" disabled="@(_game.RoundActive || _game.GameOver)">Start Next Round</button>
        </div>
    </div>
    <div class="feed-container">
        <div class="player-overview">
            <h4>Player overview:</h4>
            <ul>
                @foreach (var player in _game.Players.Except([_game.Dealer]))
                {
                    <li class="overview-player @(_game.CurrentPlayer == player ? "active" : "")">
                        <div>
                            @player.Name | @_game.CalculateHandValue(player)
                        </div>
                        <div class="overview-cards">
                            @foreach (var card in player.Hand)
                            {
                                <PokerCard Model="card" Scale="2"></PokerCard>
                            }
                        </div>
                    </li>
                }
            </ul>
        </div>
        <GameLog Model="_game" CurrentRound="_game.CurrentRound"></GameLog>
    </div>
</div>

<GameSettings RepoLink="https://github.com/Codespirals/Codespirals.CardGames/tree/master/Codespirals.CardGames.Poker">
    <div class="game-settings">
        <label>Number of players</label><InputNumber @bind-value="_numberOfPlayers" DisplayName="Number of players" min="1" max="5" />
        <label>Winning Score</label><InputNumber @bind-value="_winningScore" DisplayName="Winning Score" min="21" max="100" />
        <label>Starting Buy-in</label><InputNumber @bind-value="_minBet" DisplayName="Starting Buy-in" min="1" max="100" />
        <label>Starting Cash</label><InputNumber @bind-value="_startingCash" DisplayName="Starting Cash" min="1" max="1000000" />
        <label>Auto increase buy in</label><InputNumber @bind-value="_autoIncreaseBuyInAfterRound" DisplayName="Increase buy in after round" min="0" max="100" />
        <label>Dealer can count cards</label><InputCheckbox @bind-value="_dealerCanCountCards" DisplayName="Dealer can count cards" />
    </div>
    <button @onclick="Restart">Apply and Restart</button>
</GameSettings>

@code {
    private BlackJackGame _game = BlackJackGame.SetUp(1);
    private BlackJackPlayer _currentPlayerNotDealer => _game.CurrentPlayer == _game.Dealer ? _game.Players[1] : _game.CurrentPlayer;

    private int _numberOfPlayers = 1;
    private int _drawAtStartOfRound = 2;
    private int _minBet = 1;
    private int _winningScore = 21;
    private int _startingCash = 100;
    private int _autoIncreaseBuyInAfterRound = 1;
    private bool _dealerCanCountCards = true;

    protected override async Task OnInitializedAsync()
    {
        Restart();
    }

    private void Restart()
    {
        _game = BlackJackGame.SetUp(_numberOfPlayers, _minBet, _startingCash, _autoIncreaseBuyInAfterRound, _drawAtStartOfRound, _winningScore, _dealerCanCountCards);
        StartNextRound();
    }

    private void StartNextRound()
        => _game.StartRound();

    #region Actions
    private void Stand()
    {
        _game.Stand();
        if (!_game.RoundActive)
        {
            _game.PayOut();
        }
    }

    private void Hit()
    {
        var newCard = _game.Hit();
        if (!_game.RoundActive)
        {
            _game.PayOut();
        }
    }
    #endregion
}
