@using Codespirals.CardGames.FlipSeven
@using Eliterate.WebAssembly.Components.Toys

@page "/toys/flip_seven"

<PageTitle>Eliterate - Flip Seven</PageTitle>

<h2 class="toy-page-title"><span class="sticker">Play Flip Seven</span></h2>

<div class="flipseven-game">
    <div class="flipseven-container">
        <div class="player-container">
            <div class="playing-card-container">
                @foreach (var card in _currentPlayer.Hand)
                {
                    <FlipSevenCard Model="card" Scale="8"></FlipSevenCard>
                }
            </div>
            <h4 class="prompt">@_prompt</h4>
            <ul>
                <li>Current Player: @_currentPlayer.Name</li>
                <li>Value of Cards: @_currentPlayer.HandPoints</li>
            </ul>
        </div>
        <div class="game-controls">
            <button @onclick="Stand" disabled="@(!_game.RoundActive || _game.GameOver)">Bank</button>
            <button @onclick="Hit" disabled="@(!_game.RoundActive || _game.GameOver)">Hit Me</button>

            <button class="right" @onclick="StartNextRound" disabled="@(_game.RoundActive || _game.GameOver)">Start Next Round</button>
        </div>
    </div>
    <div class="feed-container">
        <div class="player-overview">
            <h4>Player overview:</h4>
            <ul>
                @foreach (var player in _game.Players)
                {
                    <li class="overview-player @(_currentPlayer == player ? "active" : "")">
                        <div>
                            @player.Name | @player.HandPoints
                        </div>
                        <div class="overview-cards">
                            @foreach (var card in player.Hand)
                            {
                                <FlipSevenCard Model="card" Scale="2"></FlipSevenCard>
                            }
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="round-feed">
            <h4>Round @_game.CurrentRound feed:</h4>
            <pre class="feedback">@_feedback</pre>
        </div>
    </div>
</div>

<div class="game-settings-container">
    <div class="game-settings">
        <label>Number of players</label><InputNumber @bind-value="_numberOfPlayers" DisplayName="Number of players" min="1" max="5" />
        <label>Winning Score</label><InputNumber @bind-value="_winningScore" DisplayName="Winning Score" min="21" max="100" />
    </div>
    <button @onclick="Restart">Apply and Restart</button>
</div>

@code {
    private FlipSevenGame _game = FlipSevenGame.SetUp(2);
    private FlipSevenPlayer _currentPlayer => _game.CurrentPlayer;

    private string _prompt => _game.Prompt;
    private string _feedback => string.Join('\n', _game.LogEntries.Where(l => l.Round == _game.CurrentRound).Select(l => l.Text));

    private int _numberOfPlayers = 2;
    private int _numbersToFlip = 7;
    private int _winningScore = 200;

    protected override async Task OnInitializedAsync()
    {
        Restart();
    }

    private void Restart()
    {
        _game = FlipSevenGame.SetUp(_numberOfPlayers, _numbersToFlip, _winningScore);
        StartNextRound();
    }

    private void StartNextRound()
    {
        _game.StartRound();
        // move to player 1
        _game.MoveToNextPlayer();
    }

    #region Actions
    private void Stand()
    {
        var banked = _game.Bank(_currentPlayer);
        EvaluateHandAndMoveToNextPlayer();
    }

    private void Hit()
    {
        var newCard = _game.Flip(_currentPlayer);
        EvaluateHandAndMoveToNextPlayer();
    }
    #endregion

    private void EvaluateHandAndMoveToNextPlayer()
    {
        if (_currentPlayer.IsBusted)
        {
            _currentPlayer.Bust();
        }

        if (_game.Players.All(p => p.IsOutForRound))
        {
            EndRound();
            return;
        }

        _game.MoveToNextPlayer();
    }

    private void EndRound()
    {
        if (_game.GameOver)
        {
            foreach (var player in _game.Players)
            {
                player.DeactivateForRound();
            }
            return;
        }

        foreach (var player in _game.Players)
        {
            
        }

        
        _game.EndRound();
    }
}
