@typeparam TValue where TValue : notnull

<InputWithLabel Label="@Label"
                Description="@Description"
                Warning="@Warning"
                ShowDescription="@ShowDescription"
                ShowWarning="@ShowWarning">
    <InputRadioGroup TValue="TValue" @bind-Value="@Value">
        @foreach (var item in Options)
        {
            <div class="radio-option" tabindex="0">
                <InputRadio Value="item.Key"></InputRadio>
                <label>@item.Value</label>
            </div>
        }
    </InputRadioGroup>
</InputWithLabel>

@code {
    [Parameter]
    public required string Label { get; set; }
    [Parameter]
    public Dictionary<TValue, string> Options { get; set; } = [];
    [Parameter]
    public required TValue Value { get; set; }
    [Parameter]
    public string? Description { get; set; }
    [Parameter]
    public string? Warning { get; set; }
    [Parameter]
    public bool ShowDescription { get; init; }
    [Parameter]
    public bool ShowWarning { get; init; }
}
