@typeparam TValue where TValue : notnull

<InputWithLabel Label="@Label"
                Description="@Description"
                Warning="@Warning"
                ShowDescription="@ShowDescription"
                ShowWarning="@ShowWarning">
    <InputSelect TValue="TValue" @bind-Value="@Value">
        @foreach (var item in Options)
        {
            <option value="@item.Key">@item.Value</option>
        }
    </InputSelect>
</InputWithLabel>

@code {
    [Parameter]
    public required string Label { get; set; }
    [Parameter]
    public required TValue Value { get; set; }
    [Parameter]
    public Dictionary<TValue, string> Options { get; set; } = [];
    [Parameter]
    public string? Description { get; set; }
    [Parameter]
    public string? Warning { get; set; }
    [Parameter]
    public bool ShowDescription { get; init; }
    [Parameter]
    public bool ShowWarning { get; init; }
}
