@page "/"
@inject IContentService ContentService

<PageTitle>Eliterate</PageTitle>

<div class="home-container">
    <div class="book-container">
        <ClosedBook>
            <h2 class="center-text" tabindex="0">Eliterate</h2>
            @if (tagline is not null)
            {
                <p class="center-text" tabindex="0">@tagline.Text</p>
            }
            <Sticker Text="🔋" Right="1.5m" Top="0.5m" Rotate="-87" Scale="3"></Sticker>
            <Sticker Text="🎮" Right="2" Top="8m" Rotate="5" Scale="4"></Sticker>
            <Sticker Text="💻" Left="1" Bottom="1" Rotate="-9" Scale="4"></Sticker>
        </ClosedBook>
        <div class="post-grid-cell">
            <div class="post-wrapper">
                <FlashCard Rotation="1.5m">
                    <div class="card-header">
                        <div class="grid-container-dash-dot">
                            <h2 class="card-title" tabindex="0" role="heading">Hi! I'm Eli</h2>
                        </div>
                        <Sticker Text="🇨🇭" Top="0.5m" Right="0.5m" Rotate="3" Scale="2"></Sticker>
                    </div>
                    <div class="card-body">
                        <div class="card-text" tabindex="0" role="document">
                            <p>
                                I'm a software developer from Switzerland.<br>
                                I do full stack development, though I'm much better at backend stuff.<br>
                                This site is my creative outlet and attempt to get a bit better at frontend design.<br>
                                Hit me up if you dig it!<br>
                            </p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="card-tags">
                            <Tag Name="Posts" Classes="card-tag" Color="aquamarine" Rotate="3"></Tag>
                            <Tag Name="About" Classes="card-tag" Link="posts/about" Color="lightpink" Rotate="-2"></Tag>
                            <Tag Name="Contact" Classes="card-tag" Link="@mailLink" Color="lightsalmon" Rotate="2"></Tag>
                        </div>
                    </div>
                </FlashCard>
            </div>
        </div>
    </div>
    @if (tagline is not null)
    {
        <div class="peek-card-container">
            <div class="peek-card @showSourceCssClass" @onclick="ToggleShowSource">
                <FlashCard Rotation="-6">
                    <div class="card-header">
                        <div class="grid-container-dash-dot">
                            <h2 class="card-title" tabindex="0" role="heading">Tagline Source</h2>
                            <Sticker Text="💿" Top="0.25m" Right="0.5m" Rotate="3" Scale="1.5m"></Sticker>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-text" tabindex="0" role="document">
                            <p>
                                Artist: @tagline.Artist<br>
                                Song: @tagline.Song
                            </p>
                        </div>
                    </div>
                    @if (tagline.YouTubeLink is not null)
                    {
                        <div class="card-footer">
                            <div class="card-tags">
                                <Tag Name="YouTube" Classes="card-tag" Link="@tagline.YouTubeLink" Color="#FF0000" Rotate="-2" OpenInNewWindow="true"></Tag>
                            </div>
                        </div>
                    }
                </FlashCard>
            </div>
        </div>
    }
</div>


@code {
    private SongQuote? tagline;
    private bool showSource = false;
    private string? showSourceCssClass = "";
    private string mailLink = $"mailto:{EliterateConstants.EmailContact}";

    protected override async Task OnInitializedAsync()
    {
        tagline = await ContentService.GetRandomSongQuote();
    }
    private void ToggleShowSource()
    {
        showSource = !showSource;
        showSourceCssClass = showSource ? "showSource" : "hideSource";
    }
}