@page "/"
@inject HttpClient Http

<PageTitle>Eliterate - Home</PageTitle>

<h1>Hi!</h1>

@foreach (var post in Posts)
{
    if (post is null)
    {
        continue;
    }
    <Post PostNumber="@post.PostNumber" Title="@post.Title" Tags="@post.Tags" Posted="@post.Posted" Text="@post.Text"></Post>
}

@code
{
    public List<BlogPost> Posts { get; set; } = [];
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Entering on init function");

        for (int i = 0; i < 1; i++)
        {
            var post = await Http.GetFromJsonAsync<BlogPost>($"posts/Post_{(i+1)}.json");
            if (post is null)
                continue;
            Posts.Add(post);
        }

        Posts = Posts.OrderByDescending(p => p.Posted).ToList();
    }
}