@using Codespirals.CardGames.Poker
@using Codespirals.CardGames.Poker.BlackJack
@using Eliterate.WebAssembly.Components.Toys
@page "/blackjack"

<PageTitle>Eliterate - Blackjack</PageTitle>

<h3>Play Blackjack</h3>
<p>Round: @_game.CurrentRound</p>
<p>Current buy in: @_game.BuyIn</p>

<div class="blackjack-container">
    <div>
        <ul>
            <li>Dealer</li>
            <li>Value of Cards: @_game.Dealer.HandValue</li>
        </ul>
        <div class="playing-card-container">
            @foreach (var card in _game.Dealer.Hand)
            {
                <PlayingCard Model="card" Scale="8"></PlayingCard>
            }
        </div>
        <pre class="prompt">@_prompt</pre>
        <div class="playing-card-container">
            @foreach (var card in _currentPlayer.Hand)
            {
                <PlayingCard Model="card" Scale="8"></PlayingCard>
            }
        </div>
        <ul>
            <li>Current Player: @_currentPlayer.Name</li>
            <li>Value of Cards: @_currentPlayer.HandValue</li>
            <li>Cash: @_currentPlayer.Cash</li>
        </ul>
    </div>
    <div>
        <ul class="player-overview">
            @foreach (var player in _game.Players)
            {
                <li class="@(_game.GetCurrentPlayer() == player ? "active":"")">
                    @player.Name 
                    @foreach (var card in player.Hand)
                    {
                        <PlayingCard Model="card" Scale="1"></PlayingCard>
                    }
                </li>
            }
        </ul>
        <pre class="feedback">@_feedback</pre>
    </div>
</div>

<button @onclick="Stand" disabled="@(!_game.RoundActive)">Stand</button>
<button @onclick="Hit" disabled="@(!_game.RoundActive)">Hit Me</button>

<button @onclick="StartNextRound" disabled="@_game.RoundActive">Start Next Round</button>

<button @onclick="Restart">Restart</button>

@code {
    private BlackJackGame _game = BlackJackGame.SetUp(1, 1, 21, 100);
    private BlackJackPlayer _currentPlayer => _game.GetCurrentPlayer();
    private string _prompt = "";
    private string _feedback = "";

    protected override async Task OnInitializedAsync()
    {
        Restart();
    }

    private void Restart()
    {
        _game = BlackJackGame.SetUp(1, 1, 21, 100);
        _prompt = "Start the round!";
        _game.StartRound();
        MoveToNextPlayer();
    }

    private void StartNextRound()
    {
        _game.StartRound();
        MoveToNextPlayer();
        _prompt = "Choose an action!";
        _feedback = $"Starting Round {_game.CurrentRound}";
    }

    private void Stand()
    {
        _game.Stand(_currentPlayer);
        _feedback += $"\n{_currentPlayer.Name} is standing on {_currentPlayer.HandValue}!";
        EvaluateHand();
    }
    private void Hit()
    {
        var newCard = _game.Hit(_currentPlayer);
        _feedback += $"\n{_currentPlayer.Name} drew {newCard.Name}!";
        EvaluateHand();
    }

    private void MoveToNextPlayer()
    {
        _game.MoveToNextPlayer();

        if (_currentPlayer == _game.Dealer)
        {
            PlayDealer();
        }
        else
        {
            _prompt = "Choose an action!";
        }
    }

    private void PlayDealer()
    {
        if (_game.Dealer.HandValue <= 17)
        {
            Hit();
        }
        else if (!_game.Dealer.IsOutForRound)
        {
            Stand();
        }
    }

    private void EvaluateHand()
    {
        if (_currentPlayer.HandValue > _game.WinningScore)
        {
            _currentPlayer.Bust();
            _feedback += $"\nOh no... {_currentPlayer.Name} got busted!";
        }

        if (_game.RoundActive)
        {
            MoveToNextPlayer();
        }
        else
        {
            EndRound();
        }
    }

    private void EndRound()
    {
        foreach (var player in _game.Players.Except([_game.Dealer]))
        {
            if (player.HandValue == _game.WinningScore && player.Hand.Count == 2)
            {
                _feedback += $"\n{player.Name} got a Blackjack! +{_game.BuyIn * 3}";
                player.AddWinnings(_game.BuyIn * 3);
                continue;
            }
            var dealerBusted = _game.Dealer.HandValue > _game.WinningScore;
            var playerBusted = player.HandValue <= _game.WinningScore;
            // points
            if ((dealerBusted && !playerBusted)
                || (!dealerBusted && !playerBusted && player.HandValue > _game.Dealer.HandValue))
            {
                _feedback += $"\n{player.Name} won! +{_game.BuyIn * 2}";
                player.AddWinnings(_game.BuyIn * 2);
            }
            else if (!dealerBusted && player.HandValue == _game.Dealer.HandValue)
            {
                _feedback += $"\n{player.Name} drew with the dealer! +{_game.BuyIn}";
                player.AddWinnings(_game.BuyIn);
            }
            else
            {
                _feedback += $"\n{player.Name} lost!";
            }
        }
        _game.EndRound();
        _game.RaiseTheStakes(_game.CurrentRound); 
        _feedback += "\nThe stakes have risen!";
    }
}
