@inject IContentService ContentService
@inject NavigationManager NavigationManager

<h1 class="navbar-brand"><NavLink href="/" Match="NavLinkMatch.All" tabindex="0" @onclick="CloseNavMenu">Eliterate</NavLink></h1>

<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
</button>

<nav class="@NavMenuCssClass nav-scrollable">
    <div class="center-text">
        Contents:
    </div>
    @foreach (var item in _links)
    {
        <NavLink href="@item.Link" Match="NavLinkMatch.All" tabindex="0" @onclick="CloseNavMenu">@($"{item.Name.PadRight(17, '.')}{_links.IndexOf(item).ToString().PadLeft(4, '.')}")</NavLink>
    }
    @if (NavigationManager.Uri.Contains("localhost") || NavigationManager.Uri.Contains("wip"))
    {
        <NavLink href="/tools" Match="NavLinkMatch.All" tabindex="0" @onclick="CloseNavMenu">@($"{"Tools".PadRight(17, '.')}{"".ToString().PadLeft(4, '.')}")</NavLink>
        <NavLink href="/playground" Match="NavLinkMatch.All" tabindex="0" @onclick="CloseNavMenu">@($"{"WIP".PadRight(17, '.')}{"".ToString().PadLeft(4, '.')}")</NavLink>
        <NavLink href="/components" Match="NavLinkMatch.All" tabindex="0" @onclick="CloseNavMenu">@($"{"Components".PadRight(17, '.')}{"".ToString().PadLeft(4, '.')}")</NavLink>
    }
</nav>

@code {
    public bool CollapseNavMenu { get; set; } = true;

    private string? NavMenuCssClass => CollapseNavMenu ? "collapse" : null;

    private List<LinkItem> _links = [];

    private void ToggleNavMenu()
    {
        CollapseNavMenu = !CollapseNavMenu;
    }
    private void CloseNavMenu()
    {
        CollapseNavMenu = true;
    }

    protected override async Task OnInitializedAsync()
    {
        _links = [.. await ContentService.GetNavItems()];
    }
}
