
@if (Model is null)
{
    <div class="playing-card" style="@_size">
        @Codespirals.CardGames.Poker.PokerConstants.CARDBACKEMOJI
    </div>
}
else
{
    <div class="playing-card" alt="@Model.Name" style="@_size">
        <div hidden>@Model.Value</div>
        @Model.Emoji
    </div>
}

@code {
    [Parameter]
    public Codespirals.CardGames.Poker.PokerCard? Model { get; set; }
    [Parameter]
    public int Scale { get; set; } = 1;

    private string _size => $"font-size:{Scale}rem;";
}
